@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Poppins&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #11698e;
}
